* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(216, 216, 216);
}

.header-text {
  color: #111;
}

#title,
#discription {
  text-align: center;
}

.header-container {
  text-align: center;
}

.form-container {
  height: 80vh;
  width: 60vw;
  padding: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  padding: 10px;
  display: block;
  color: white;
}

#survey-form {
  padding: 40px;
  background-color: #111;
  border-radius: 10px;
}

#name,
#email,
#number {
  margin-top: 5px;
}

.form-control {
  height: 2.5rem;
  width: 100%;
}

.submit {
  height: 4.5rem;
  width: 100%;
  font-size: 18px;
}

.submit {
  background-color: rgb(79, 201, 79);
  border: none;
  color: white;
}

#textarea {
  height: 7.5rem;
  width: 100%;
}

.survey-form {
  display: block;
}
